html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 1em;
}

#wrapper {
  margin: 0 auto;
  width: 50em;
  max-width: 95%;
}

fieldset {
  /* width: 75%; */
}

label {
  display:block;
  margin-top: 0.5em;
}

input {
  margin-top: 0.1em;
}

button {
  margin-left: 0.5em;
}

footer {
  margin-top: 1em;
  font-size: 0.7em;
}

.labelTop {
  font-size: 0.7em;
}

.formValidation {
  margin-top: 1em;
}

.inThePast { color: red; }
.done { text-decoration: line-through; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#more {
  z-index: 2;
  background-color: white;
  position: absolute;
  top: inherit;
  padding: 1em;
  width: 50em;
  max-width: 80%;
}

.actionLink {
  font-size: 0.8em;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.tokInfo {
  font-size: 0.8em;
}

/* ------ from taf V1 ------- */

/* ------ listes --------- */

ul.tokl {
  list-style: none;
  padding-left: 0;
}

li.tokl {
  line-height: 1.3em;
  position: relative;
  margin-bottom:0.3em;
  padding-left: 0.3em;
}

li.tokl:hover {
  background-color: #EEEEEE;
}

h2.hDetail {
  padding-left: 0.2em;
}

textarea.largeTex {
  width: 95%;
  max-width: 40em;
  height: 6em;
}

#addTokInp {
  width: 70%;
  max-width: 30em;
}

input.largeInp {
  width: 80%;
  max-width: 40em;
}

input.mediumInp {
  width: 70%;
  max-width: 36em;
}

input.shortInp {
  max-width: 10em;
}

ul.checkListLine {
  padding-left: 0;
}

ul.checkListLine>li {
  list-style-type: none;
  display: inline-block;
  margin-right: 0.2em;
}

#allthetags {
  padding-left:0;
}

#allthetags>li{
  list-style-type: none;
  display: inline-block;
  margin: 0.3em;
}

#allthetags>li>a {
  color: white;
  text-decoration: none;
}

#allthetags>li>a>span {
  padding: 0.1em 0.4em;
  border-radius: 0.8em;
}

.theTag {
  padding: 0.1em 0.4em;
  border-radius: 0.8em;
  color: white;
}

/* 80 CSS colors for background behind white text */

.col0 {background-color: White;}
.col1 {background-color: Blue;}
.col2 {background-color: BlueViolet;}
.col3 {background-color: Brown;}
.col4 {background-color: BurlyWood;}
.col5 {background-color: CadetBlue;}
.col6 {background-color: Chocolate;}
.col7 {background-color: Coral;}
.col8 {background-color: CornflowerBlue;}
.col9 {background-color: Crimson;}
.col10 {background-color: DarkBlue;}
.col11 {background-color: DarkCyan;}
.col12 {background-color: DarkGoldenRod;}
.col13 {background-color: DarkGreen;}
.col14 {background-color: DarkOrange;}
.col15 {background-color: DarkOrchid;}
.col16 {background-color: DarkRed;}
.col17 {background-color: DarkSalmon;}
.col18 {background-color: DarkSeaGreen;}
.col19 {background-color: DarkSlateBlue;}
.col20 {background-color: DarkTurquoise;}
.col21 {background-color: DarkViolet;}
.col22 {background-color: DeepPink;}
.col23 {background-color: DeepSkyBlue;}
.col24 {background-color: DodgerBlue;}
.col25 {background-color: FireBrick;}
.col26 {background-color: ForestGreen;}
.col27 {background-color: Fuchsia;}
.col28 {background-color: Gold;}
.col29 {background-color: GoldenRod;}
.col30 {background-color: Green;}
.col31 {background-color: HotPink;}
.col32 {background-color: IndianRed;}
.col33 {background-color: Indigo;}
.col34 {background-color: LightCoral;}
.col35 {background-color: LightPink;}
.col36 {background-color: LightSalmon;}
.col37 {background-color: LightSeaGreen;}
.col38 {background-color: LightSkyBlue;}
.col39 {background-color: LightSteelBlue;}
.col40 {background-color: LimeGreen;}
.col41 {background-color: Magenta;}
.col42 {background-color: Maroon;}
.col43 {background-color: MediumAquaMarine;}
.col44 {background-color: MediumBlue;}
.col45 {background-color: MediumOrchid;}
.col46 {background-color: MediumPurple;}
.col47 {background-color: MediumSeaGreen;}
.col48 {background-color: MediumSlateBlue;}
.col49 {background-color: MediumTurquoise;}
.col50 {background-color: MediumVioletRed;}
.col51 {background-color: MidnightBlue;}
.col52 {background-color: Navy;}
.col53 {background-color: Olive;}
.col54 {background-color: OliveDrab;}
.col55 {background-color: Orange;}
.col56 {background-color: OrangeRed;}
.col57 {background-color: Orchid;}
.col58 {background-color: PaleVioletRed;}
.col59 {background-color: Peru;}
.col60 {background-color: Pink;}
.col61 {background-color: Plum;}
.col62 {background-color: Purple;}
.col63 {background-color: RebeccaPurple;}
.col64 {background-color: Red;}
.col65 {background-color: RosyBrown;}
.col66 {background-color: RoyalBlue;}
.col67 {background-color: SaddleBrown;}
.col68 {background-color: Salmon;}
.col69 {background-color: SandyBrown;}
.col70 {background-color: SeaGreen;}
.col71 {background-color: Sienna;}
.col72 {background-color: Silver;}
.col73 {background-color: SkyBlue;}
.col74 {background-color: SteelBlue;}
.col75 {background-color: Tan;}
.col76 {background-color: Teal;}
.col77 {background-color: Tomato;}
.col78 {background-color: Turquoise;}
.col79 {background-color: Violet;}
.col80 {background-color: YellowGreen;}

/*  end of 80 CSS colors */

/* 80 CSS colors for borders */

.bord0 {border-left: 0.4em solid White;}
.bord1 {border-left: 0.4em solid Blue;}
.bord2 {border-left: 0.4em solid BlueViolet;}
.bord3 {border-left: 0.4em solid Brown;}
.bord4 {border-left: 0.4em solid BurlyWood;}
.bord5 {border-left: 0.4em solid CadetBlue;}
.bord6 {border-left: 0.4em solid Chocolate;}
.bord7 {border-left: 0.4em solid Coral;}
.bord8 {border-left: 0.4em solid CornflowerBlue;}
.bord9 {border-left: 0.4em solid Crimson;}
.bord10 {border-left: 0.4em solid DarkBlue;}
.bord11 {border-left: 0.4em solid DarkCyan;}
.bord12 {border-left: 0.4em solid DarkGoldenRod;}
.bord13 {border-left: 0.4em solid DarkGreen;}
.bord14 {border-left: 0.4em solid DarkOrange;}
.bord15 {border-left: 0.4em solid DarkOrchid;}
.bord16 {border-left: 0.4em solid DarkRed;}
.bord17 {border-left: 0.4em solid DarkSalmon;}
.bord18 {border-left: 0.4em solid DarkSeaGreen;}
.bord19 {border-left: 0.4em solid DarkSlateBlue;}
.bord20 {border-left: 0.4em solid DarkTurquoise;}
.bord21 {border-left: 0.4em solid DarkViolet;}
.bord22 {border-left: 0.4em solid DeepPink;}
.bord23 {border-left: 0.4em solid DeepSkyBlue;}
.bord24 {border-left: 0.4em solid DodgerBlue;}
.bord25 {border-left: 0.4em solid FireBrick;}
.bord26 {border-left: 0.4em solid ForestGreen;}
.bord27 {border-left: 0.4em solid Fuchsia;}
.bord28 {border-left: 0.4em solid Gold;}
.bord29 {border-left: 0.4em solid GoldenRod;}
.bord30 {border-left: 0.4em solid Green;}
.bord31 {border-left: 0.4em solid HotPink;}
.bord32 {border-left: 0.4em solid IndianRed;}
.bord33 {border-left: 0.4em solid Indigo;}
.bord34 {border-left: 0.4em solid LightCoral;}
.bord35 {border-left: 0.4em solid LightPink;}
.bord36 {border-left: 0.4em solid LightSalmon;}
.bord37 {border-left: 0.4em solid LightSeaGreen;}
.bord38 {border-left: 0.4em solid LightSkyBlue;}
.bord39 {border-left: 0.4em solid LightSteelBlue;}
.bord40 {border-left: 0.4em solid LimeGreen;}
.bord41 {border-left: 0.4em solid Magenta;}
.bord42 {border-left: 0.4em solid Maroon;}
.bord43 {border-left: 0.4em solid MediumAquaMarine;}
.bord44 {border-left: 0.4em solid MediumBlue;}
.bord45 {border-left: 0.4em solid MediumOrchid;}
.bord46 {border-left: 0.4em solid MediumPurple;}
.bord47 {border-left: 0.4em solid MediumSeaGreen;}
.bord48 {border-left: 0.4em solid MediumSlateBlue;}
.bord49 {border-left: 0.4em solid MediumTurquoise;}
.bord50 {border-left: 0.4em solid MediumVioletRed;}
.bord51 {border-left: 0.4em solid MidnightBlue;}
.bord52 {border-left: 0.4em solid Navy;}
.bord53 {border-left: 0.4em solid Olive;}
.bord54 {border-left: 0.4em solid OliveDrab;}
.bord55 {border-left: 0.4em solid Orange;}
.bord56 {border-left: 0.4em solid OrangeRed;}
.bord57 {border-left: 0.4em solid Orchid;}
.bord58 {border-left: 0.4em solid PaleVioletRed;}
.bord59 {border-left: 0.4em solid Peru;}
.bord60 {border-left: 0.4em solid Pink;}
.bord61 {border-left: 0.4em solid Plum;}
.bord62 {border-left: 0.4em solid Purple;}
.bord63 {border-left: 0.4em solid RebeccaPurple;}
.bord64 {border-left: 0.4em solid Red;}
.bord65 {border-left: 0.4em solid RosyBrown;}
.bord66 {border-left: 0.4em solid RoyalBlue;}
.bord67 {border-left: 0.4em solid SaddleBrown;}
.bord68 {border-left: 0.4em solid Salmon;}
.bord69 {border-left: 0.4em solid SandyBrown;}
.bord70 {border-left: 0.4em solid SeaGreen;}
.bord71 {border-left: 0.4em solid Sienna;}
.bord72 {border-left: 0.4em solid Silver;}
.bord73 {border-left: 0.4em solid SkyBlue;}
.bord74 {border-left: 0.4em solid SteelBlue;}
.bord75 {border-left: 0.4em solid Tan;}
.bord76 {border-left: 0.4em solid Teal;}
.bord77 {border-left: 0.4em solid Tomato;}
.bord78 {border-left: 0.4em solid Turquoise;}
.bord79 {border-left: 0.4em solid Violet;}
.bord80 {border-left: 0.4em solid YellowGreen;}

/*  end of 80 border colors */